/*Reset de elementos para começar*/
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}

/*Cabeçalho*/

h1, p {
    text-align: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #FFF;
    background-color:#F03309 ;
}

#price {
    background-color: #000;
    color: #fff;
}
#footerContact {
    text-align: center;
    background-color:#F03309 ;
}

/*Menu Lateral*/
#imgMenu {
    width: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
input[type="checkbox"] {
    display: none;
}
nav {
    width: 180px;
    height: 100%;
    left: -180px;
    position: absolute;
    background-color: #F03309;
    transition: all .5s;
}
#linksMenu {
    display: block;
    padding: 20px 5px ;
    color: #fff;
}
#linksMenu:hover{
   background-color: #000; 
}
#labelMenuL {
    z-index: 1;
    padding: 15px;
    position: absolute;
    background-color: white;
    width: 160px;
}
#MenuLateralUl {
    top: 70px;
    position: absolute;
    width: 100%;
}
/*Quando der check no input, irá alterar o conteudo 'nav'*/
input[type="checkbox"]:checked ~ nav {
    transform: translateX(180px);
}


/*Galeria de imagens*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.card {
    display: inline-block;
    width: 200px;
    margin: 25px;
    border: 1px solid #F03309;
    max-width: 100%;
    max-height: 100%;
}

.card-image {
   height: 300px;
   background-size: cover;
}

#banner {
    height: 390px;
    background-image: url("./img/bannerWhiskey.jpg");
    object-fit: cover;
}

#card-1 .card-image {
    background-image: url("./img/johnnieWalkerRed.png");
    
}
#card-2 .card-image {
    background-image: url("./img/johnnyWalkerBlack.png");
    
}
#card-3 .card-image {
    background-image: url("./img/johnniewalkergold.jpg");
    
}
#card-4 .card-image {
    background-image: url("./img/johnniewalkerblue.jpg");
    
}
#card-5 .card-image {
    background-image: url("./img/jackdanielsn7.jpg");
    
}
#card-6 .card-image {
    background-image: url("./img/jackdanielsFire.jpg");
    
}
#card-7 .card-image {
    background-image: url("./img/whisky-jameson_1_600.jpg");
    
}
#card-8 .card-image {
    background-image: url("./img//whisky-grand-old-parr-12-anos-1000ml-cx.jpg");
    
}

#zapIcon {
    width: 30px;
}
#LinkIcon {
    width: 25px;
}
#GitIcon {
    width: 30px;
}
.btn {
    display: block;
    background-color: #F03309;
    color: white;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: .5s;
    border-radius: 5px;
}

.card-description {
    padding: 20px 10px;
}

.btn:hover {
    background-color: #fff;
    color: #F03309;
    border-color:#F03309 ;
}